.notif {
  color: green;
  background: lightgrey;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1rem;
  padding: 2vh;
  margin-bottom: 4vh;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1rem;
  padding: 2vh;
  margin-bottom: 4vh;
}